@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Proiect: Rent a car</h1>
    <img src="https://i.ibb.co/hDrYWCK/fsega.png" alt="fsega" border="0" class="center">
    <p><a href="https://econ.ubbcluj.ro/">Facultatea de Stiinte Economice si Gestiunea Afacerilor</a>.</p>
</div>
